* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#cart {
	width: 1515px;
}

#cart>div {
	width: 1450px;
	background: rgb(231, 231, 231);
	margin: 0 auto;
}

#empty {
	display: none;
}

#left_cart {
	width: 800px;
	padding: 0 40px;
	float: left;
	margin-left: 40px;
}

#left_cart>div:nth-child(1) {
	width: 800px;
	border-bottom: 1px solid rgb(200, 200, 200);
	height: 60px;
	line-height: 60px;
}

#left_cart input {
	width: 18px;
	height: 18px;
}

#left_cart>div:nth-child(1)>span {
	font-size: 14px;
	color: gray;
	position: relative;
	top: -4px;
	left: 20px;
}

#cart_list>li {
	width: 800px;
	height: 320px;
	margin: 50px 0;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.cart_list_veryOne>ol:nth-child(1)>li {
	height: 300px;
	display: inline-block;
	vertical-align: middle;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(1) {
	width: 40px;
	text-align: center;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(1)>input {
	margin-top: 150px;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(2) {
	width: 230px;
	height: 230px;
	text-align: center;
	line-height: 230px;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(3) {
	width: 300px;
	font-size: 13px;
	box-sizing: border-box;
	padding: 10px;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(3)>p {
	width: 270px;
	height: 80px;
	padding-left: 20px;
	box-sizing: border-box;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(3)>p:nth-child(3) {
	margin-top: 50px;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(3)>p:nth-child(1) {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 900;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(3)>p:nth-child(3)>a {
	margin-top: 50px;
	font-size: 15px;
	text-decoration: none;
	color: red;
}

.cart_list_veryOne>ol:nth-child(1)>li:nth-child(3)>p:nth-child(3)>a:hover
	{
	text-decoration: underline;
}

.cart_list_veryOne>ol:nth-child(2)>li {
	width: 200px;
	height: 170px;
	text-align: center;
}

.cart_list_veryOne>ol:nth-child(2)>li:nth-child(1)>div {
	position: relative;
	top: 100px;
}

.cart_list_veryOne>ol:nth-child(2)>li:nth-child(2)>div {
	position: relative;
	top: 50px;
}

.cart_list_veryOne>ol {
	display: inline-block;
}

#right_cart {
	float: left;
	width: 300px;
	padding: 0 30px;
	background: white;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 200px;

}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

#right_cart>ul>li {
	border-bottom: 1px solid rgb(200, 200, 200);
}

#right_cart>ul>li:nth-child(1) {
	font-size: 12px;
	height: 40px;
	line-height: 40px;
}

#right_cart>ul>li:nth-child(1)>span:nth-child(2) {
	margin-left: 140px;
}

#right_cart>ul>li:nth-child(2)>p>span {
	font-size: 13px;
	color: gray;
	line-height: 40px;
}

#right_cart>ul>li:nth-child(2)>p>span:nth-child(2) {
	margin-left: 200px;
}

#right_cart>ul>li:nth-child(2)>p:nth-child(1)>span:nth-child(2) {
	margin-left: 175px;
}

#right_cart>ul>li:nth-child(3) {
	height: 150px;
	font-size: 13px;
	line-height: 35px;
}

#right_cart>ul>li:nth-child(4) {
	height: 150px;
	text-align: center;
	line-height: 80px;
	padding-bottom: 50px;
	padding-top: 50px;
}

#right_cart>ul>li:nth-child(4)>p {
	width: 270px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	box-sizing: border-box;
	margin: 10px auto;
	font-size: 14px;
	color: gray;
	cursor: pointer;
}

#right_cart>ul>li:nth-child(4)>p:nth-child(1) {
	background: rgb(229, 223, 217);
}

#right_cart>ul>li:nth-child(4)>p:nth-child(1):hover {
	background: rgb(45, 45, 45);
}

#right_cart>ul>li:nth-child(4)>p:nth-child(2) {
	border: 2px solid black;
}

#right_cart>ul>li:nth-child(4)>p:nth-child(2):hover {
	border-color: gray;
}

.do_count>span {
	font-size: 30px;
	border: 1px solid gray;
	text-align: center;
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 23px;
	color: #fff;
	cursor: pointer;
	background: rgb(50, 50, 50);
}

.do_count>span:nth-child(2) {
	font-size: 16px;
	position: relative;
	top: -4px;
	background: #fff;
	color: gray;
	border: 2px solid rgb(231, 231, 231);
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: inherit;
}

.do_count>span:nth-child(1):hover {
	background: rgb(231, 231, 231);
	color: gray;
}

.do_count>span:nth-child(3):hover {
	background: rgb(231, 231, 231);
	color: gray;
}

#delete_empty {
	font-size: 13px;
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgb(45, 45, 45);
	cursor: pointer;
	border-radius: 8px;
	margin: 10px auto;
}

#delete_empty:hover {
	background: rgb(240, 240, 240);
	color: rgb(45, 45, 45);
	text-decoration: underline;
}

#empty {
	width: 1515px;
	height: 550px;
	position: relative;
	text-align: center;
}

#empty>div>p:nth-child(1) {
	font-size: 60px;
	font-weight: 900;
	font-family: "宋体";
	color: rgb(100, 100, 100);
	padding-top: 200px;
}

#empty>div>p:nth-child(2) {
	border: 1px solid rgb(90, 90, 90);
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin: 50px auto;
	cursor: pointer;
}

#empty>div>p:nth-child(2):hover {
	background: rgb(45, 45, 45);
	color: #fff;
	font-size: 13px;
}



#sou_cang {
	width: 900px;
	height: 400px;
	margin-top: -380px;
}

#isBuy {
	width: 100%;
	height: 755px;
	background: url("../../common/img/15530699296474046.jpg");
	position: relative;
	z-index:99;
}

#isBuy>div {
	width: 800px;
	height: 450px;
	background: rgb(220, 220, 220);
	position: absolute;
	top: 150px;
	left: 370px;
	border-radius: 20px;
	color: gray;
	font-family: "新宋体";
	text-align: center;
}

#isBuy>div>p:nth-child(1) {
	font-size: 20px;
	margin: 20px auto;
	width: 50px;
	font-weight: 900;
}

#isBuy>div>div {
	display: inline-block;
	vertical-align: text-top;
	box-sizing: border-box;
	padding: 20px;
}

#isBuy>div>div:nth-child(2) {
	width: 400px;
	height: 270px;
	border-right: 1px solid rgb(45, 45, 45);
	margin-bottom: 20px;
	position: relative;
}

#isBuy>div>div:nth-child(3) {
	width: 200px;
	height: 270px;
	margin-bottom: 20px;
}

#isBuy>div>div:nth-child(4) {
	border-top: 1px solid rgb(45, 45, 45);
	width: 600px;
	height: 40px;
}

#isBuy>div>div:nth-child(2)>p>span {
	font-size: 13px;
	color: red;
	width: 100px;
	display: inline-block;
	text-align: center;
}

#isBuy>div>div:nth-child(2)>p>span:hover {
	text-decoration: underline;
	cursor: pointer;
}

#isBuy>div>div:nth-child(2)>ul>li {
	width: 350px;
	height: 35px;
	line-height: 35px;
	text-align: left;
	text-indent: 1em;
	border-bottom: 1px solid rgb(100, 100, 100);
	cursor: pointer;
	position: relative;
	font-size:13px;
	font-weight: 700;
}

#isBuy>div>div:nth-child(2)>ul>li>input[type=checkbox] {
	width: 18px;
	height: 18px;
	position: absolute;
	right: 20px;
	top: 12px;
}

#isBuy>div>div:nth-child(2)>ul {
	margin-top: 20px;
}

#isBuy>div>div:nth-child(2)>p:nth-last-child(1) {
	width: 100px;
	height: 30px;
	background: rgb(45, 45, 45);
	color: #fff;
	line-height: 30px;
	margin: 10px auto;
	cursor: pointer;
	position: absolute;
	bottom: -30px;
	left: 150px;
}

#isBuy>div>div:nth-child(2)>div {
	display: none;
}

#isBuy>div>div:nth-child(2)>div>span {
	margin-top: 30px;
	display: inline-block;
}

#isBuy>div>div:nth-child(2)>div>input {
	width: 300px;
	height: 35px;
	margin-top: 20px;
	background: rgb(220, 220, 220);
	outline: none;
	border: 2px solid rgb(50, 50, 50);
	text-indent: 1em;
}

#isBuy>div>div:nth-child(3)>b {
	font-size: 18px;
	color: red;
}

#isBuy>div>div:nth-child(3) {
	line-height: 60px;
	color: black;
	font-weight: 900;
}

#isBuy>div>div:nth-last-child(1)>span {
	width: 150px;
	height: 35px;
	background: rgb(45, 45, 45);
	display: inline-block;
	line-height: 35px;
	cursor: pointer;
	color: #fff;
	margin: 0 60px;
	border-radius: 5px;
}
#isBuy{
	position: fixed;
	top: 0;
	display: none;
}
#address1{
	border:1px solid rgb(45,45,45);
	width:350px;
	height:180px;
	overflow:scroll;
}
